.item-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.item-status:nth-child(1) {
    cursor: auto;
}

.item-status:nth-child(3) {
    cursor: auto;
}

.item-status:hover .item-status-icon {
    background: black; 
}
.item-status:hover .status-caption {
    color: black; 
}



.item-status-icon {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(231, 231, 231);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-button {
    animation: pulse 1.4s infinite;
}
.pulse-button:hover {
    animation: none;
}


.status-icon--active {
    background: black;
}

.status-caption {
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(231, 231, 231);
}

.status-caption--active {
    color: black;
}

.regla-status {
    width: 3rem;
    height: 0.2rem;
    background: rgb(231, 231, 231);
    margin-top: calc(2.5rem /2);
}

.regla-status--active {
    background: black;
}


@keyframes pulse {
    0% {
        transform: scale(0.9);
        background: rgb(231, 231, 231)
    }
    50% {
        transform: scale(1.1);
        background: rgb(184, 184, 184)
    }
    100% {
        transform: scale(0.9);
        background: rgb(231, 231, 231)
    }
}