.button-icon {
    display: inline-block;
    transition: all 0.1s;
    cursor: pointer;
}

.button-icon.primary {
    color: var(--color-text-brown);
}

.button-icon.primary:hover {
    filter: brightness(1.1);
    transform: scale(1.09);
}