.button-icon {
    transition: all 0.1s;
    cursor: pointer;
}

.button-icon.primary {
    color: var(--color-text-brown);
}

.button-icon.primary:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.button-icon.secondary {
    color: var(--color-text-ligth);
}

.button-icon.secondary:hover {
    color: var(--color-gray);
}

