.order-confirmation-box {
  background-color: white;
  box-shadow: var(--box-shadow-md);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.order-confirmation-box__header {
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border-bottom: var(--border-bottom-1);
}

.order-confirmation-box__body {
  flex: 1;
}

.order-confirmation-box__footer {
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: var(--border-1);
  padding-top: 0.5rem;
}

.order-confirmation-box__footer .status-order-buttons {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  gap: 1rem;
  padding: 0.5rem 0;
}

.order-confirmation-box__footer .order-total {
  display: flex;
  justify-content: space-between;
  border-top: var(--border-1);
  padding: 0.5rem 0;
}

.order-confirmation-box__footer .pay-buttons {
  display: flex;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
  padding-top: 0.5rem;
  height: 7rem;
}

.pay-buttons div:nth-child(1) {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.pay-buttons div:nth-child(2) {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pagarTodo-button {
  min-width: 100%;
  flex: 1;
}

.order-confirmation-box__footer .pay-buttons .pay-fraction {
  width: 100%;
  flex: 1;
  padding: 0.5em;
  border-radius: var(--border-radius-2xl);
  cursor: pointer;

  background-color: white;
  border: solid 3px var(--color-secondary);
  color: var(--color-text-brown);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.order-confirmation-box__footer .pay-buttons .pay-fraction.active {
  background-color: var(--color-secondary);
  border: solid 3px var(--color-primary-light);
}

.order-confirmation-box__footer .pay-buttons .pay-fraction:hover {
  background-color: var(--color-secondary);
  border: solid 3px var(--color-primary-light);
}



.order-confirmation-box__footer .confirmation-buttons {
  display: flex;
  gap: 1rem;
  border-top: var(--border-1);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

