.heading {
    font-weight: var(--font-weight-medium);
}

.heading.xs {
    color: var(--color-gray-600);
        font-size: var(--font-size-md);
}
.heading.sm {
    font-size: var(--font-size-xl);
    color: var(--color-gray-700);
}
.heading.md {
    font-size: var(--font-size-2xl);
    color: var(--color-gray-700);
}
.heading.lg {
    font-size: var(--font-size-3xl);
    color: var(--color-gray-800);
}

.heading.light {
    color: var(--color-gray-400);
}

.heading.center {
    text-align: center;
}