.stats-card {
  padding: 0.7em;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-2xl);
  border: solid 3px var(--color-secondary);
}

.stats-card__info {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* white-space: nowrap; */
}

@media screen and (min-width: 768px) {
  .stats-card__icon {
    display: initial;
  }
}
