:root {
    --color-primary: #704232;
    --color-primary-light: #ae9f9b;
    --color-secondary: #f6efef;
    --color-text-brown: #7f635a;
    --color-text-ligth: #b6b6b6;
    --width-sidebar: 10vw;
    --bg-color: #f9f9fb;
  
    --border-radius: 22%;
    --white: #FFFFFF;
    --color-gray: rgb(128, 128, 128);
}
  
