@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

p * {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

/* VERTICAL SPACE  */
.vertical-space-1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.vertical-space-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.vertical-space-3 {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
