.main-layout {
  position: relative;
  min-height: 100vh;
  background-color: #f9f9fb;
}

.main-layout__sidebar {
  position: fixed;
  height: 100vh;
  width: 9rem;
  left: -100%;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.main-layout__sidebar.show {
  left: 0%;
}

.main-layout__btn-showSidebar {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 9;
}

.main-layout__container {
  min-height: 100vh;
  display: flex;
  padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .main-layout {
    margin-left: 9rem;
  }
  .main-layout__sidebar {
    left: 0;
  }

  .main-layout__btn-showSidebar {
    display: none;
  }
  .main-layout__container {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
