.shopping-cart {
  background-color: white;
  box-shadow: var(--box-shadow-md);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  overflow-y: hidden;
  
}

.shopping-cart__header {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart__body {
  overflow: hidden;
  flex: 1;
  margin-top: 1.5rem;
}

.shopping-cart__body__header {
  border-bottom: var(--border-bottom-1);
  height: 2.2rem;
}

.shopping-cart__body__container {
  overflow-y: auto;
  height: calc(100% - 2.2rem);
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.empty-cart {
  font-size: 1.5rem;
  font-weight: 500;
  color: #9b9b9b;
  text-align: center;
  margin-top: 3rem;

}

.shopping-cart__footer {
  background-color: white;
  z-index: 9;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: var(--border-bottom-1);
}

.shopping-cart__body__header,
.shopping-cart__footer__header {
  display: flex;
  justify-content: space-between;
}

