.data-table {
  border-radius: var(--border-radius-3xl);
  padding: 1.5rem 1rem;
  background-color: var(--white);
  width: 100%;
}
.data-table.shadow {
  box-shadow: var(--box-shadow-xl);
}

.data-table__wrapper {
}
