.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 15px;
}

.column1 {
  flex: 100%;
  overflow: hidden;
  width: 100%;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.administrar-page-template__col-1 .body {
  padding: 1rem 1rem 2rem;
  width: 100%;
}

/* DATA TABLE  */
.dataTable {
  border-radius: var(--border-radius-3xl);
  padding: 1.5rem 1rem;
  box-shadow: var(--box-shadow-xl);
  width: 100%;
}

.administrar-page-template__col-1 .data-table__wrapper {
}

.administrar-page-template__col-2 {
  flex: 100%;
  padding: 1rem;
}

.imgPlato {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 1rem;
}
