.cart-article {
    display: flex;
}

.cart-article__img {
    align-self: center;
    width: 4em;
    height: 4em;
    border-radius: var(--border-radius-2xl);
    overflow: hidden;
}

.cart-article__info {
    flex: 1;
    margin-left: 0.5em;
}

.cart-article__info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.btn-delete-active:active {
    transform: scale(2);
} 
