.table-page-template {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.table-page-template__col-1 {
  flex: 100%;
}

.table-page-template__col-1 .header {
  padding: 1rem;
}

.table-page-template__col-1 .body {
  padding: 1rem;
  width: 100vw;
}

.table-page-template__col-2 {
  flex: 100%;
  padding: 1rem;
}
