.detalle-page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.detalle-page .header {
  padding: 1rem;
  width: 100%;
  background-color: red;
}

.detalle-page .header .title {
  position: relative;
}

.detalle-page .header .btn-back {
  height: 100%;
  position: absolute;
}

.detalle-page .header .header-info {
  margin-top: 1.5rem;
  background-color: white;
  box-shadow: var(--box-shadow-sm);
  padding: 1.5rem 4rem 1.5rem 1rem;
  border-radius: 1rem;
  width: fit-content;
}

.detalle-page .header .header-info p {
  margin: 0;
}

.detalle-page .body {
  padding: 1rem 1rem 2rem;
  width: 100%;
}
