.detalle-page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(107, 107, 107, 0.2);
}

.detalle-page .header .title {
  position: relative;
}

.detalle-page .header .btn-back {
  height: 100%;
  position: absolute;
}

.headerInfo {
  margin-top: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  width: fit-content;
}

.detalle-page .header .header-info p {
  margin: 0;
}

.detalle-page .body {
  padding: 1rem 1rem 2rem;
  width: 100%;
}
