.modal-editar-cliente {
  background-color: white;
  width: 90%;
  border-radius: var(--border-radius-lg);
  padding: 1.5rem 2rem;
  max-width: 25rem;
}

.modal-editar-cliente form {
  margin-top: 1rem;
}

.modal-editar-cliente__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.modal-editar-cliente__form-group label {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--color-gray-500);
}

.modal-editar-cliente__form-group input {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-gray-100);
}

.modal-editar-cliente .container-buttons {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
