.product-card {
  background-color: var(--white);
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  box-shadow: var(--box-shadow-md);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-card__img {
  height: 50%;
}

.product-card__info {
  /* min-height: 50%; */
  gap: 0em;
  padding: 0em 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .product-card {
    height: 23rem;
  }
  .product-card__img {
    height: 50%;
    background-color: lightgray;
  }
  .product-card__info {
    height: 50%;
    flex: 1;
    padding: 0.6rem 0.8rem 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .product-card__info {
    padding: 0.6rem 0.6rem 0.7rem;
  }
}
